{% extends 'base.html.twig' %}

{% block title %}Edit LibContact{% endblock %}

{% block body %}
    <h1>Edit LibContact</h1>

    {{ include('utilisateurs/lib/lib_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_utilisateurs_lib_lib_contact_index') }}">back to list</a>

    {{ include('utilisateurs/lib/lib_contact/_delete_form.html.twig') }}
{% endblock %}
